<app-header title="User Form" />
<div class="flex justify-center items-center h-screen">
  <!-- <h1 class="text-5xl center top-0">Exercise 1</h1> -->
  <div class="bg-white border p-8 rounded-lg shadow-lg w-96 mb-100">
    <h2 class="text-2xl font-bold mb-4 text-center">User Form</h2>

    <form [formGroup]="profileForm" (ngSubmit)="handleSubmit()">
      <!-- Name Input -->
      <div class="mb-4">
        <label for="name" class="block text-gray-700">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
          formControlName="name"
          required="true"
          placeholder="Name"
        />
        <!-- Error Message for Name Field -->
        @if (name?.invalid && (name?.dirty || name?.touched)){
        <div class="text-sm text-red-700">
          @if (name?.hasError('required')) {
          <div>Name is required.</div>
          }
        </div>
        }
      </div>

      <!-- Email Input -->
      <div class="mb-4">
        <label for="email" class="block text-gray-700">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          class="mt-1 block w-full p-2 border border-gray-300 rounded-md"
          formControlName="email"
          placeholder="example@example.com"
        />
        @if (email?.invalid && (email?.dirty || email?.touched)){
        <div class="text-sm text-red-700">
          @if (email?.hasError('required')) {
          <div>Email is required.</div>
          } @if (email?.hasError('email') || email?.hasError('pattern')){
          <div>Email is invalid.</div>
          }
        </div>
        }
      </div>

      <!-- Submit Button -->
      <div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 transition duration-200"
          [class]="!profileForm.valid ? 'opacity-40' : 'opacity-100'"
          [disabled]="!profileForm.valid"
        >
          Submit
        </button>
      </div>
    </form>
    <div></div>
  </div>
</div>
<div
  class="fixed left-1/2 bottom-5 -translate-x-1/2 max-w-lg flex justify-center"
>
  <div class="flex flex-row">
    <button
      type="button"
      class="bg-gray-800 text-white rounded-l-md border-r border-gray-100 hover:bg-gray-700/80 cursor-pointer px-3 py-2"
      routerLink="/exercise-2"
    >
      <div class="flex flex-row align-middle">
        <svg
          class="w-5 mr-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
        <p class="ml-2">Prev</p>
      </div>
    </button>
    <button
      type="button"
      class="bg-gray-800 text-white rounded-r-md border-l border-gray-200 hover:bg-gray-700/80 cursor-pointer px-3 py-2"
      routerLink="/exercise-4"
    >
      <div class="flex flex-row align-middle">
        <span class="mr-2">Next</span>
        <svg
          class="w-5 ml-2"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </button>
  </div>
</div>
